.container {
  background-color: #121214;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Roboto Regular;
  -webkit-font-smoothing: antialiased;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

p {
  color: white;
}
