.container {
  background-color: #202024;
  border-radius: 20px;
  color: #E1E1E6;
  padding: 24px;
  max-width: 540px;
  width: 90%;
}

form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

label {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

label > div {
  background-color: #121214;
  border-radius: 6px;
  border: 2px solid #121214;
  display: flex;
  align-items: center;
  padding: 12px 16px;
  font-size: 14px;
}

input {
  color: #FFF;
  background: transparent;
  border: 0px;
  width: 100%;
  outline: none;
  line-height: normal;
}

textarea {
  background-color: #121214;
  padding: 12px 16px;
  color: white;
  border-radius: 6px;
  min-height: 80px;
}

button {
  align-self: flex-end;
  background-color: #00875F;
  border-radius: 10px;
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 46px;
  cursor: pointer;
}

.submit:hover {
  background-color: #00B37E;
}


